In [222]:
student_marks = [
    ['Name', ['A', 'B', "C", "D", "E"]],
    ['Ankit', [41,  34, 45, 55, 65]],
    ['Aravind',[42, 23, 34, 44, 53]],
    ['lakshay',[32, 23, 13, 54, 67]],
    ['Gyan',   [23, 82, 23, 63,  34]],
    ['Pranav', [21, 23, 25, 56, 56]]
]


- Who scored the highest marks in the subject B?
- What is the average marks scored in the subject C?
- Who scored the highest percentage of marks?
- If considered only top-4 subjects of a candidate, then who scored the highest
percentage of marks?

In [223]:
# list to store the marks
student_with_marks_in_B = []
for marks in student_marks[1:]:
    name = marks[0]
    marks_in_B = marks[1][1]

    student_with_marks_in_B.append([marks_in_B, name])

In [224]:
student_with_marks_in_B

[[34, 'Ankit'], [23, 'Aravind'], [23, 'lakshay'], [82, 'Gyan'], [23, 'Pranav']]

In [225]:
highest_mark_b = sorted(student_with_marks_in_B,reverse=True)[0]
highest_mark_b

[82, 'Gyan']

In [226]:
marks_of_C = []
for items in student_marks[1:]:
    marks_of_C.append(items[1][2])

In [227]:
marks_of_C

[45, 34, 13, 23, 25]

In [228]:
average_marks_in_c = sum(marks_of_C) / (len(student_marks) - 1)
print('the average marks scored in c: ', average_marks_in_c)

the average marks scored in c:  28.0

In [229]:
# Who scored the highest percentage of marks??
highest_mark_total = []
for marks in student_marks[1:]:
    # print(marks)
    sums = 0
    name = marks[0]
    for items in marks[1:]:
        sums += sum(items)
        highest_mark_total.append([sums, name])

In [230]:
highest_mark_total

[[240, 'Ankit'],
 [196, 'Aravind'],
 [189, 'lakshay'],
 [225, 'Gyan'],
 [181, 'Pranav']]

In [231]:
print('the highest marks scored', max(highest_mark_total))

the highest marks scored [240, 'Ankit']

In [232]:
# If considered only top-4 subjects of a candidate, then who scored the highest
# percentage of marks?

In [233]:
marks_in_all = []
for marks in student_marks[1:]:
    # print(marks)
    name = marks[0]
    for items in marks[1:]:
       # sorted(items)
       marks_in_all.append([name, sorted(items, reverse=True)])

marks_in_all

[['Ankit', [65, 55, 45, 41, 34]],
 ['Aravind', [53, 44, 42, 34, 23]],
 ['lakshay', [67, 54, 32, 23, 13]],
 ['Gyan', [82, 63, 34, 23, 23]],
 ['Pranav', [56, 56, 25, 23, 21]]]

In [234]:
marks_top_4 = []
for m in marks_in_all:
    name = m[0]
    for i in m[1:]:
        sums = 0
        for j in i[:-1]:
            # print(j)
            sums += j
        marks_top_4.append([sums, name])
marks_top_4

[[206, 'Ankit'],
 [173, 'Aravind'],
 [176, 'lakshay'],
 [202, 'Gyan'],
 [160, 'Pranav']]

In [235]:
print("the student with highest mark with top four sub: ", max(marks_top_4)[1])

the student with highest mark with top four sub:  Ankit