---
---
<center><h1>üìç üìç EXCEL FILESüìç üìç</h1></center>


---

In this notebook, we will see how to read excel files using pandas and what are the challenges while reading the excel files and how to tackle them?

---

### `Table of Contents`

---


- ***Reading Excel Files***
- ***Challenges with reading the EXCEL file.***
    - Reading excel files with multiple sheets.
    - Comments in top rows.
    - **Assignment**: Read files present in multiple directories.



#### `READING EXCEL FILES`

---

In [2]:
# import the pandas library
import pandas as pd

***In this notebook, we are going to use the same `big_mart_sales` data.***

---

- Read the file `big_mart_sales.xlsx` present in the directory `datasets.`

---

In [3]:
# read the dataset
# data = pd.read_excel('datasets/big_mart_sales.xlsx')
data = pd.read_excel('datasets/big_mart_sales.xlsx')

In [4]:
# view the head
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

#### `CHALLENGES WITH READING EXCEL FILES`

- ***Reading excel files with multiple sheets.***
- ***Comments in top rows.***
- ***Read files present in multiple directories.***

---

---

#### ***`EXCEL FILES WITH MULTIPLE SHEETS: SPECIFY THE SHEET NAME`***

- **`EXCEL`** files most of the time contain multiple sheets. 
- Using **`sheet_name`** parameter we can read a specific sheet 

---

***Now, we have a excel file `big_mart_sales_with_multiple_sheets.xlsx` that contain different sheets for different years `1985`, `1987`, `1997`***

In [5]:
# read the data with multiple sheets
# data_with_multiple_sheets = pd.read_excel('datasets/big_mart_sales_with_multiple_sheets.xlsx')
data_with_multiple_sheets = pd.read_excel('datasets/big_mart_sales_with_multiple_sheets.xlsx')

In [6]:
# unique year present in the data
# data_with_multiple_sheets.Outlet_Establishment_Year.unique()
data_with_multiple_sheets.Outlet_Establishment_Year.unique()

array([1985], dtype=int64)

***We can see that when we read the data with multiple sheets only the first sheet gets read.***

---

***To read the data from the specific sheet, we need to specify the sheet name. Let's see with the following example.***

In [7]:
# sheet_1985 = pd.read_excel('datasets/big_mart_sales_with_multiple_sheets.xlsx',sheet_name='1985')
sheet_1985 = pd.read_excel('datasets/big_mart_sales_with_multiple_sheets.xlsx', sheet_name='1985')

In [8]:
sheet_1985.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
1,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
2,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
3,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
4,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362

In [9]:
sheet_1987 = pd.read_excel('datasets/big_mart_sales_with_multiple_sheets.xlsx', sheet_name='1987')

In [10]:
sheet_1987.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
1,FDO10,13.65,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
2,FDF32,16.35,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
3,FDN22,18.85,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860
4,DRJ59,11.65,low fat,0.019356,Hard Drinks,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312

In [11]:
sheet_1997 = pd.read_excel('datasets/big_mart_sales_with_multiple_sheets.xlsx', sheet_name='1997')

In [12]:
sheet_1997.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA03,18.50,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
1,FDS46,17.60,Regular,0.047257,Snack Foods,119.6782,OUT046,1997,Small,Tier 1,Supermarket Type1,2145.2076
2,FDP49,9.00,Regular,0.069089,Breakfast,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1,1547.3192
3,FDR28,13.85,Regular,0.025896,Frozen Foods,165.0210,OUT046,1997,Small,Tier 1,Supermarket Type1,4078.0250
4,DRH01,17.50,Low Fat,0.097904,Soft Drinks,174.8738,OUT046,1997,Small,Tier 1,Supermarket Type1,2085.2856

#### `CONCATENATE ALL SHEETS`

---

In [13]:
# create an array of dataframes
# sheets = [sheet_1985, sheet_1987, sheet_1997]
sheets = [sheet_1985, sheet_1987, sheet_1997]

# concatenate the array
# final_data = pd.concat(sheets)
final_data = pd.concat(sheets)

In [14]:
# unique years in final data
final_data.Outlet_Establishment_Year.unique()

array([1985, 1987, 1997], dtype=int64)

In [15]:
final_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
1,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
2,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
3,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
4,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362

---

***If we have comments on the top of a file. We can use `skiprows` to skip the first n rows and read the data.***


---

In [18]:
# read the data without skiprows
# sheet_with_comments = pd.read_excel('datasets/big_mart_sales_comments.xlsx')
sheet_with_comments = pd.read_excel('datasets/big_mart_sales_comments.xlsx')

In [19]:
# top rows of the data
sheet_with_comments.head()

,# This is Big Mart Sales Data,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,# This is Big Mart Sales Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,# This is Big Mart Sales Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138
4,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228

In [20]:
# read the data with skiprows
sheet_with_comments = pd.read_excel('datasets/big_mart_sales_comments.xlsx',skiprows=3)

In [21]:
# view the top rows of the data
sheet_with_comments.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

---

### `ASSIGNMENT: READ FILES FROM MULTIPLE DIRECTORIES` 

As you have seen in the last notebook, we read csv files from multiple directories using the glob. Use the glob to read the multiple directories to read the files from the folder `multi-directory-excel`

---

In [23]:
# write your code here
# import glob library
import glob

In [24]:
for directory in glob.glob('datasets/multi-directory-excel/*'):
    print(directory)

datasets/multi-directory-excel\1985
datasets/multi-directory-excel\1987
datasets/multi-directory-excel\1997
datasets/multi-directory-excel\1998
datasets/multi-directory-excel\1999
datasets/multi-directory-excel\2002
datasets/multi-directory-excel\2004
datasets/multi-directory-excel\2007
datasets/multi-directory-excel\2009

In [25]:
# Now, each of the folders 1985, 1987, 1997, 1998, 1999, 2002, 2004, 2007 and 2009 contains CSV. We will iterate through each of them and concatenate the files.

In [26]:
for directory in glob.glob('datasets/multi-directory-excel/*'):
    # print(directory)
    for items in glob.glob(directory+'/*'):
        print(items)

datasets/multi-directory-excel\1985\1985.xlsx
datasets/multi-directory-excel\1987\1987.xlsx
datasets/multi-directory-excel\1997\1997.xlsx
datasets/multi-directory-excel\1998\1998.xlsx
datasets/multi-directory-excel\1999\1999.xlsx
datasets/multi-directory-excel\2002\2002.xlsx
datasets/multi-directory-excel\2004\2004.xlsx
datasets/multi-directory-excel\2007\2007.xlsx
datasets/multi-directory-excel\2009\2009.xlsx

In [28]:
# list to store the data_frame
df_list = []
# iterate through each folder
for directory in glob.glob('datasets/multi-directory-excel/*'):
    for items in glob.glob(directory + '/*'):
        df_list.append(pd.read_excel(items))

In [29]:
# concatenate the dataframes

[     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
 0              FDP10          NaN          Low Fat         0.127470
 1              DRI11          NaN          Low Fat         0.034238
 2              FDW12          NaN          Regular         0.035400
 3              FDC37          NaN          Low Fat         0.057557
 4              FDC14          NaN          Regular         0.072222
 ...              ...          ...              ...              ...
 1458           DRK37          NaN          Low Fat         0.043792
 1459           DRG13          NaN          Low Fat         0.037006
 1460           NCN14          NaN          Low Fat         0.091473
 1461           FDU44          NaN          Regular         0.102296
 1462           NCN18          NaN          Low Fat         0.124111

                   Item_Type     Item_MRP Outlet_Identifier  \
 0               Snack Foods     107.7622            OUT027
 1               Hard Drinks     113.2834            OUT027
 2              Baking Goods     144.5444            OUT027
 3              Baking Goods     107.6938            OUT019
 4                    Canned      43.6454            OUT019
 ...                     ...          ...               ...
 1458            Soft Drinks  189053.0000            OUT027
 1459            Soft Drinks     164.7526            OUT027
 1460                 Others     184.6608            OUT027
 1461  Fruits and Vegetables     162.3552            OUT019
 1462              Household     111.7544            OUT027

       Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
 0                          1985      Medium               Tier 3
 1                          1985      Medium               Tier 3
 2                          1985      Medium               Tier 3
 3                          1985       Small               Tier 1
 4                          1985       Small               Tier 1
 ...                         ...         ...                  ...
 1458                       1985      Medium               Tier 3
 1459                       1985      Medium               Tier 3
 1460                       1985      Medium               Tier 3
 1461                       1985       Small               Tier 1
 1462                       1985      Medium               Tier 3

             Outlet_Type  Item_Outlet_Sales
 0     Supermarket Type3       4.022764e+03
 1     Supermarket Type3       2.303668e+03
 2     Supermarket Type3       4.064043e+03
 3         Grocery Store       2.143876e+02
 4         Grocery Store       1.258362e+02
 ...                 ...                ...
 1458  Supermarket Type3       6.261849e+06
 1459  Supermarket Type3       4.111315e+06
 1460  Supermarket Type3       2.756412e+03
 1461      Grocery Store       4.873656e+02
 1462  Supermarket Type3       4.138613e+03

 [1463 rows x 12 columns],
     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
 0             NCD19         8.93          Low Fat         0.000000
 1             FDO10        13.65          Regular         0.012741
 2             FDF32        16.35          Low Fat         0.068024
 3             FDN22        18.85          Regular         0.138190
 4             DRJ59        11.65          low fat         0.019356
 ..              ...          ...              ...              ...
 927           FDQ31      5785.00          Regular         0.053802
 928           FDJ32     10695.00          Low Fat         0.057744
 929           DRJ49      6865.00          Low Fat         0.000000
 930           FDR26        20.70          Low Fat         0.042801
 931           FDF22      6865.00          Low Fat         0.056783

                  Item_Type  Item_MRP Outlet_Identifier  \
 0                Household   53.8614            OUT013
 1              Snack Foods   57.6588            OUT013
 2    Fruits and Vegetables  196.4426            OUT013
 3              Snack Foods  250.8724            OUT013
 4              Hard Drinks   39.1164            OUT013
 ..                     ...       ...               ...
 927  Fruits and Vegetables   85.9856            OUT013
 928  Fruits and Vegetables   61.2536            OUT013
 929            Soft Drinks  129.9652            OUT013
 930                  Dairy  178.3028            OUT013
 931            Snack Foods  214.5218            OUT013

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
 0                         1987        High               Tier 3
 1                         1987        High               Tier 3
 2                         1987        High               Tier 3
 3                         1987        High               Tier 3
 4                         1987        High               Tier 3
 ..                         ...         ...                  ...
 927                       1987        High               Tier 3
 928                       1987        High               Tier 3
 929                       1987        High               Tier 3
 930                       1987        High               Tier 3
 931                       1987        High               Tier 3

            Outlet_Type  Item_Outlet_Sales
 0    Supermarket Type1       9.947052e+02
 1    Supermarket Type1       3.435528e+02
 2    Supermarket Type1       1.977426e+03
 3    Supermarket Type1       3.775086e+06
 4    Supermarket Type1       3.089312e+02
 ..                 ...                ...
 927  Supermarket Type1       1.494055e+03
 928  Supermarket Type1       6.737896e+02
 929  Supermarket Type1       2.324974e+03
 930  Supermarket Type1       2.479439e+03
 931  Supermarket Type1       2.778383e+03

 [932 rows x 12 columns],
     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
 0             FDA03        18.50          Regular         0.045464
 1             FDS46        17.60          Regular         0.047257
 2             FDP49         9.00          Regular         0.069089
 3             FDR28        13.85          Regular         0.025896
 4             DRH01        17.50          Low Fat         0.097904
 ..              ...          ...              ...              ...
 925           FDC28      7905.00          Low Fat         0.054987
 926           FDB17        13.15          Low Fat         0.036672
 927           FDT34         9.30          Low Fat         0.174350
 928           FDF53        20.75              reg         0.083607
 929           DRG01        14.80          Low Fat         0.044878

         Item_Type     Item_MRP Outlet_Identifier  Outlet_Establishment_Year  \
 0           Dairy     144.1102            OUT046                       1997
 1     Snack Foods     119.6782            OUT046                       1997
 2       Breakfast      56.3614            OUT046                       1997
 3    Frozen Foods  165021.0000            OUT046                       1997
 4     Soft Drinks     174.8738            OUT046                       1997
 ..            ...          ...               ...                        ...
 925  Frozen Foods     108.6254            OUT046                       1997
 926  Frozen Foods     182.5976            OUT046                       1997
 927   Snack Foods     104.4964            OUT046                       1997
 928  Frozen Foods     178.8318            OUT046                       1997
 929   Soft Drinks   75467.0000            OUT046                       1997

     Outlet_Size Outlet_Location_Type        Outlet_Type  Item_Outlet_Sales
 0         Small               Tier 1  Supermarket Type1       2.187153e+06
 1         Small               Tier 1  Supermarket Type1       2.145208e+03
 2         Small               Tier 1  Supermarket Type1       1.547319e+03
 3         Small               Tier 1  Supermarket Type1       4.078025e+06
 4         Small               Tier 1  Supermarket Type1       2.085286e+03
 ..          ...                  ...                ...                ...
 925       Small               Tier 1  Supermarket Type1       1.844932e+03
 926       Small               Tier 1  Supermarket Type1       4.165245e+03
 927       Small               Tier 1  Supermarket Type1       2.419517e+03
 928       Small               Tier 1  Supermarket Type1       3.608636e+06
 929       Small               Tier 1  Supermarket Type1       7.656700e+02

 [930 rows x 12 columns],
     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
 0             FDX07        19.20          Regular         0.000000
 1             FDE51      5925.00          Regular         0.161467
 2             FDV38        19.25          Low Fat         0.170349
 3             FDM39         6.42               LF         0.089499
 4             FDC46        17.70               LF         0.195068
 ..              ...          ...              ...              ...
 550           NCE07         8.18          Low Fat         0.021977
 551           FDI16        14.00          Regular         0.227261
 552           DRI47        14.70          Low Fat         0.035016
 553           FDR20        20.00          Regular         0.000000
 554           FDG45         8.10          Low Fat         0.214306

                  Item_Type     Item_MRP Outlet_Identifier  \
 0    Fruits and Vegetables  182095.0000            OUT010
 1                    Dairy      45.5086            OUT010
 2                    Dairy      55.7956            OUT010
 3                    Dairy     178.1002            OUT010
 4              Snack Foods     185.4266            OUT010
 ..                     ...          ...               ...
 550              Household     140.6154            OUT010
 551           Frozen Foods   54364.0000            OUT010
 552            Hard Drinks     144.3128            OUT010
 553  Fruits and Vegetables      46.4744            OUT010
 554  Fruits and Vegetables     213.9902            OUT010

      Outlet_Establishment_Year  Outlet_Size Outlet_Location_Type  \
 0                         1998          NaN               Tier 3
 1                         1998          NaN               Tier 3
 2                         1998          NaN               Tier 3
 3                         1998          NaN               Tier 3
 4                         1998          NaN               Tier 3
 ..                         ...          ...                  ...
 550                       1998          NaN               Tier 3
 551                       1998          NaN               Tier 3
 552                       1998          NaN               Tier 3
 553                       1998          NaN               Tier 3
 554                       1998          NaN               Tier 3

        Outlet_Type  Item_Outlet_Sales
 0    Grocery Store           732.3800
 1    Grocery Store           178.4344
 2    Grocery Store           163.7868
 3    Grocery Store           358.2004
 4    Grocery Store           184.4266
 ..             ...                ...
 550  Grocery Store           425.4462
 551  Grocery Store        159792.0000
 552  Grocery Store           431.4384
 553  Grocery Store            45.2744
 554  Grocery Store           424.7804

 [555 rows x 12 columns],
     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
 0             FDA15         9.30          Low Fat         0.016047
 1             FDN15        17.50          Low Fat         0.016760
 2             FDY07        11.80          Low Fat         0.000000
 3             FDX32        15.10          Regular         0.100014
 4             FDP49         9.00          Regular         0.069196
 ..              ...          ...              ...              ...
 925           FDK21      7905.00          Low Fat         0.010028
 926           FDV31         9.80               LF         0.000000
 927           FDW27         5.86          Regular         0.151088
 928           NCS17        18.60          Low Fat         0.080627
 929           FDL10      8395.00          Low Fat         0.039554

                  Item_Type     Item_MRP Outlet_Identifier  \
 0                    Dairy     249.8092            OUT049
 1                     Meat  141618.0000            OUT049
 2    Fruits and Vegetables      45.5402            OUT049
 3    Fruits and Vegetables     145.4786            OUT049
 4                Breakfast      54.3614            OUT049
 ..                     ...          ...               ...
 925            Snack Foods     249.6408            OUT049
 926  Fruits and Vegetables  175237.0000            OUT049
 927                   Meat     155.1314            OUT049
 928     Health and Hygiene      92.5436            OUT049
 929            Snack Foods      99.1042            OUT049

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
 0                         1999      Medium               Tier 1
 1                         1999      Medium               Tier 1
 2                         1999      Medium               Tier 1
 3                         1999      Medium               Tier 1
 4                         1999      Medium               Tier 1
 ..                         ...         ...                  ...
 925                       1999      Medium               Tier 1
 926                       1999      Medium               Tier 1
 927                       1999      Medium               Tier 1
 928                       1999      Medium               Tier 1
 929                       1999      Medium               Tier 1

            Outlet_Type  Item_Outlet_Sales
 0    Supermarket Type1       3.735138e+06
 1    Supermarket Type1       2.097270e+03
 2    Supermarket Type1       1.516027e+03
 3    Supermarket Type1       1.589265e+03
 4    Supermarket Type1       7.183982e+02
 ..                 ...                ...
 925  Supermarket Type1       3.254430e+03
 926  Supermarket Type1       3.881614e+06
 927  Supermarket Type1       1.551314e+03
 928  Supermarket Type1       3.781744e+02
 929  Supermarket Type1       2.579309e+03

 [930 rows x 12 columns],
     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
 0             FDH17        16.20          Regular         0.016687
 1             FDO23        17.85          Low Fat         0.000000
 2             NCP05        19.60          Low Fat         0.000000
 3             FDV49        10.00          Low Fat         0.025880
 4             NCX54      9195.00          Low Fat         0.048157
 ..              ...          ...              ...              ...
 924           DRI11         8.26          Low Fat         0.034474
 925           NCH43         8.42          Low Fat         0.070712
 926           FDW31        11.35          Regular         0.043246
 927           FDA01        15.00          Regular         0.054489
 928           FDS36         8.38          Regular         0.046982

                  Item_Type  Item_MRP Outlet_Identifier  \
 0             Frozen Foods   96.9726            OUT045
 1                   Breads   93.1436            OUT045
 2       Health and Hygiene  153.3024            OUT045
 3                   Canned  265.2226            OUT045
 4                Household  106.1622            OUT045
 ..                     ...       ...               ...
 924            Hard Drinks  117.0834            OUT045
 925              Household  216.4192            OUT045
 926  Fruits and Vegetables  199.4742            OUT045
 927                 Canned   57.5904            OUT045
 928           Baking Goods  108.1570            OUT045

      Outlet_Establishment_Year  Outlet_Size Outlet_Location_Type  \
 0                         2002          NaN               Tier 2
 1                         2002          NaN               Tier 2
 2                         2002          NaN               Tier 2
 3                         2002          NaN               Tier 2
 4                         2002          NaN               Tier 2
 ..                         ...          ...                  ...
 924                       2002          NaN               Tier 2
 925                       2002          NaN               Tier 2
 926                       2002          NaN               Tier 2
 927                       2002          NaN               Tier 2
 928                       2002          NaN               Tier 2

            Outlet_Type  Item_Outlet_Sales
 0    Supermarket Type1       1.076599e+03
 1    Supermarket Type1       2.174503e+03
 2    Supermarket Type1       2.428838e+03
 3    Supermarket Type1       5.815097e+03
 4    Supermarket Type1       2.117244e+06
 ..                 ...                ...
 924  Supermarket Type1       1.612568e+03
 925  Supermarket Type1       3.020069e+03
 926  Supermarket Type1       2.587965e+03
 927  Supermarket Type1       4.687232e+02
 928  Supermarket Type1       5.492850e+05

 [929 rows x 12 columns],
     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
 0             FDU02        13.35          Low Fat         0.102492
 1             NCB30        14.60          Low Fat         0.025698
 2             FDV10      7645.00          Regular         0.066693
 3             FDH19        19.35          Low Fat         0.033082
 4             FDZ55      6055.00          Low Fat         0.025404
 ..              ...          ...              ...              ...
 925           FDQ44        20.50          Low Fat         0.036133
 926           FDN28         5.88          Regular         0.030242
 927           FDN58        13.80          Regular         0.056862
 928           FDH31        12.00          Regular         0.020407
 929           NCJ29        10.60          Low Fat         0.035186

                  Item_Type  Item_MRP Outlet_Identifier  \
 0                    Dairy  230.5352            OUT035
 1                Household  196.5084            OUT035
 2              Snack Foods   42.3112            OUT035
 3                     Meat  172.5738            OUT035
 4    Fruits and Vegetables  160.9920            OUT035
 ..                     ...       ...               ...
 925  Fruits and Vegetables  120.1756            OUT035
 926           Frozen Foods  101.7990            OUT035
 927            Snack Foods  231.5984            OUT035
 928                   Meat   99.9042            OUT035
 929     Health and Hygiene   85.1224            OUT035

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
 0                         2004       Small               Tier 2
 1                         2004       Small               Tier 2
 2                         2004       Small               Tier 2
 3                         2004       Small               Tier 2
 4                         2004       Small               Tier 2
 ..                         ...         ...                  ...
 925                       2004       Small               Tier 2
 926                       2004       Small               Tier 2
 927                       2004       Small               Tier 2
 928                       2004       Small               Tier 2
 929                       2004       Small               Tier 2

            Outlet_Type  Item_Outlet_Sales
 0    Supermarket Type1          2748.4224
 1    Supermarket Type1          1587.2672
 2    Supermarket Type1          1065.2800
 3    Supermarket Type1          4865.6664
 4    Supermarket Type1          2716.4640
 ..                 ...                ...
 925  Supermarket Type1          3392.9168
 926  Supermarket Type1        515995.0000
 927  Supermarket Type1          7182.6504
 928  Supermarket Type1           595.2252
 929  Supermarket Type1          1193.1136

 [930 rows x 12 columns],
     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
 0             FDU28        19.20          Regular         0.094450
 1             NCD06        13.00          Low Fat         0.099887

In [46]:
final_df = pd.concat(df_list)

In [47]:
final_df.to_excel('datasets/merged_big_mart_sales.xlsx', index=False)

In [48]:
merged_df = pd.read_excel('datasets/merged_big_mart_sales.xlsx')

In [49]:
merged_df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4.022764e+03
1,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2.303668e+03
2,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4.064043e+03
3,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,2.143876e+02
4,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,1.258362e+02
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,DRF37,17.25,Low Fat,0.084676,Soft Drinks,263191.0000,OUT018,2009,Medium,Tier 3,Supermarket Type2,3.944865e+06
8519,FDF05,17.50,Low Fat,0.026980,Frozen Foods,262591.0000,OUT018,2009,Medium,Tier 3,Supermarket Type2,4.207856e+06
8520,FDH24,20.70,Low Fat,0.021518,Baking Goods,157.5288,OUT018,2009,Medium,Tier 3,Supermarket Type2,1.571288e+03
8521,NCJ19,18.60,Low Fat,0.118661,Others,58.7588,OUT018,2009,Medium,Tier 3,Supermarket Type2,8.588820e+05
8522,FDN46,7.21,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1.845598e+03

In [51]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [54]:
merged_df.shape

(8523, 12)

In [53]:
merged_df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8.523000e+03
mean,1283.722194,0.066132,19087.814628,1997.831867,4.814256e+05
std,2959.889125,0.051598,53135.756575,8.371760,1.214151e+06
min,4.590000,0.000000,31.290000,1985.000000,3.329000e+01
25%,11.300000,0.026989,100.368700,1987.000000,1.043974e+03
50%,15.500000,0.053931,155.099800,1999.000000,2.406201e+03
75%,19.600000,0.094585,220.428500,2004.000000,5.532465e+03
max,11395.000000,0.328391,264791.000000,2009.000000,1.030658e+07