---

## üìåüìå Indentation and Comments in Python

***Before we start Conditional Statements, let's have a look at `indentation` and `comments` in Python.***

#### `INDENTATION`


 - Indentation means `(spaces and tabs)` that are used at the beginning of any statement. The statements with the same indentation belong to the same group also called as `suite`. 

---

In [1]:
a = 5
b = 6 # unexpected extra space will give us an error

In [4]:
if (2 == 2):
    print('True Statement')

True Statement

***The above code snippet contains the `if` statement which expects to perform some lines of code if the condition is true. So, all of that code should belong to a group which python finds out by `indented` block of code.***

---

In [5]:
if (2 == 2):
    print('True Statement')

True Statement

---

#### `COMMENTS`

To write a comment in Python, simply put the hash mark # before your desired comment:

---

In [0]:
print('This line will be executed')
# print('This is a comment')
# This line does nothing !!!

This line will be executed

---

<center><h1> üìç üìç Conditional Statements üìç üìç </h1></center>


---
***CONDITIONAL OPERATORS***

* ***Double Equals:*** a == b
* ***Not Equals:*** a != b
* ***Less than:*** a < b
* ***Less than or equal to:*** a <= b
* ***Greater than:*** a > b
* ***Greater than or equal to:*** a >= b


---

In [6]:
# if statement

x = 1

if x == 1:
    print('The condition in the if statement is True.')

The condition in the if statement is True.

In [7]:
# if "The condition in the if statement is False"

if x == 3:
    print('The condition in the if statement is True')
    
# Here we will not get any output.

In [8]:
# with one condition
a = 5
b = 10

if a > b:
    print('a is greater than b.')
else :
    print('a is smaller than b.')

a is smaller than b.

In [0]:
# multiple conditions
a = 8
b = 10

if (a > 10) and (b > 10):
    print('Both the numbers are greater than 10.')
    
elif (a > 5) and (b > 5):
    print('Both the numbers are greater than 5')
    
else:
    print('Conditions are not Satisfied.')

Both the numbers are greater than 5

#### üìç üìç Problem 1 : Take an input from a user in variable x and print "Even" if the number is divisible by 2, otherwise print "Odd".

---

In [0]:
# take the input from the user by using the input function
x = input()

# by default the type is string, so we need to convert the type first
x = int(x)

if x % 2 == 0:
    print("Even")
else:
    print("Odd")

22
Even

#### üìç üìçProblem 2 : Take input from the user in variable y and print "`Grade A`" if y is greater than 90, "`Grade B`" if y is greater than 60 but less than or equal to 90 and "`Grade F`" Otherwise.

---

In [9]:
# take the input from the user by using the input function
y = input()

# by default the type is string, so we need to convert the type first
y = int(y)

if y > 90:
    print("Grade A")

elif y > 60:
    print("Grade B")

else:
    print("Grade F")

ValueError: invalid literal for int() with base 10: ''