---
---

<center> <h1>üìç üìç Assignment: Reading Files üìç üìç</h1> </center>

---

#### `1. READ THE BIG MART SALES DATA`



---

In [9]:
import pandas as pd

In [15]:
data = pd.read_csv('../dataset/big_mart_sales.csv', sep=',', skiprows=5)
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

---

***So, we are getting an error. You task is to find out the error and read the file using pandas. Here is the screenshot of the CSV file.***

![](images/csv.png)

---

In [3]:
### WRITE YOUR CODE HERE

----

####  `2. READ THE JSON DATA`

----

In [18]:
# read the json file
json_data = pd.read_json('../dataset/simple.json', lines=True)
json_data

       name  age grade
0     Andew   12     A
1    Bhuvan   18     B
2   Clinton   11     A
3     Drake   12     C
4     Eisha   13     B
5    Farhan   22     C
6    Garima   11     A
7  Himanshu   19     A
8    Ishaan   10     D
9     Jason    9     B

---

***Open the JSON file in the text editor and see what can you do to read the file.***

---

In [7]:
#### WRITE YOUR CODE HERE

In [20]:
json_data.head()

      name  age grade
0    Andew   12     A
1   Bhuvan   18     B
2  Clinton   11     A
3    Drake   12     C
4    Eisha   13     B

In [21]:
json_data.info

<bound method DataFrame.info of        name  age grade
0     Andew   12     A
1    Bhuvan   18     B
2   Clinton   11     A
3     Drake   12     C
4     Eisha   13     B
5    Farhan   22     C
6    Garima   11     A
7  Himanshu   19     A
8    Ishaan   10     D
9     Jason    9     B>

In [22]:
json_data.index

RangeIndex(start=0, stop=10, step=1)