---
---

<center><h1>üìç üìç Overview of Subsetting in Pandas üìç üìç</h1></center>



---

#### `TABLE OF CONTENTS`

- What is an index?
- How to subset first N rows based on their position index?
- Can we change the index?
- Will the index be always numeric?
- How to subset the data based on a label of the index?
- Can we reset the index?
- How to subset the data based on a value of a column?

---


#### `READ THE DATA`

- In this notebook, we are going to use the big mart sales data that we have used previously. It is stored in the folder name `datasets`.

In [1]:
# import the pandas library
import pandas as pd

In [2]:
# read the big mart sales data
data = pd.read_csv('datasets/big_mart_sales.csv')

#### `WHAT IS INDEX?`

![](index.png)

-  You can see the index object by `DataFrame.index`.

In [3]:
# index of the dataframe
data.index

RangeIndex(start=0, stop=8523, step=1)

***So, In this case, we have the numeric index value start from the 0 and ends at 8523.***

In [4]:
# no. of rows and columns in the data
data.shape

(8523, 12)

In [5]:
# column index
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

#### `HOW TO SUBSET FIRST 'N' ROWS BASED ON THEIR POSITION INDEX?`

In [9]:
# view the top rows of the data
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

---

#### `CAN WE CHANGE THE INDEX?`

---

***The answer is `Yes`. We can change the index. Let's see how?***

---

#### Create a random list of 8523 numbers and set it as the index
---

In [10]:
# create random list
import random
# random_list = [random.randint(1, 8523) for i in range(8523)]

random_list = [random.randint(1, 8523) for i in range(8523)]

In [11]:
random_list

[5950,
 2492,
 3408,
 1867,
 1206,
 3452,
 6994,
 7243,
 3943,
 7828,
 6955,
 7013,
 8001,
 1561,
 6993,
 4845,
 1525,
 4758,
 5168,
 1604,
 8470,
 5888,
 7234,
 1239,
 1287,
 884,
 3712,
 6111,
 8042,
 8311,
 2380,
 4140,
 2295,
 4827,
 1513,
 2877,
 6786,
 8507,
 5117,
 2167,
 1566,
 2960,
 1805,
 266,
 3527,
 7556,
 2826,
 1414,
 907,
 8384,
 4301,
 6330,
 7269,
 1144,
 7423,
 915,
 4109,
 8040,
 1873,
 6576,
 8116,
 786,
 2886,
 2389,
 787,
 6976,
 217,
 4635,
 3725,
 7786,
 1330,
 1494,
 5376,
 2375,
 916,
 3056,
 2582,
 2147,
 4494,
 1134,
 1078,
 7388,
 4798,
 2226,
 2424,
 8198,
 3989,
 7258,
 2343,
 6580,
 3688,
 5657,
 2900,
 2852,
 957,
 2642,
 2602,
 6328,
 659,
 4433,
 7331,
 4381,
 626,
 1862,
 7845,
 1590,
 2111,
 2887,
 2290,
 2246,
 8103,
 4275,
 3188,
 4367,
 375,
 4064,
 8359,
 2208,
 7320,
 6991,
 3890,
 235,
 1298,
 6798,
 8259,
 333,
 2504,
 6598,
 7405,
 7664,
 7503,
 5264,
 8298,
 3132,
 2619,
 4766,
 2916,
 7016,
 3716,
 7200,
 4731,
 3357,
 8003,
 6998,
 5437,
 7639,
 5623,
 2476,
 6481,
 6512,
 1774,
 3471,
 1727,
 7570,
 6167,
 43,
 1926,
 5320,
 2562,
 3653,
 6455,
 2442,
 1099,
 4962,
 3631,
 2107,
 1734,
 7525,
 3792,
 7863,
 7530,
 6270,
 643,
 1286,
 6222,
 2807,
 4226,
 6201,
 7502,
 242,
 71,
 2634,
 5387,
 2265,
 2867,
 8523,
 2988,
 3247,
 2475,
 3904,
 6156,
 5996,
 6520,
 1512,
 8214,
 2814,
 2499,
 657,
 5214,
 2975,
 6515,
 516,
 6784,
 4886,
 2406,
 4190,
 3013,
 3325,
 2915,
 5631,
 3913,
 4257,
 1456,
 4016,
 6671,
 1854,
 7257,
 6096,
 1358,
 4455,
 4130,
 608,
 7082,
 400,
 4647,
 2064,
 6918,
 963,
 2215,
 4346,
 562,
 1161,
 1800,
 7003,
 2923,
 2210,
 6360,
 6033,
 5694,
 6106,
 7616,
 3983,
 4375,
 6386,
 4249,
 4918,
 7005,
 4918,
 6612,
 5843,
 1149,
 2984,
 2274,
 4719,
 508,
 2163,
 6047,
 6383,
 5722,
 3084,
 2592,
 6547,
 7211,
 6644,
 5998,
 7056,
 2449,
 5137,
 5377,
 8340,
 5465,
 3417,
 4729,
 5885,
 2328,
 4559,
 2416,
 1574,
 1170,
 1253,
 214,
 5661,
 7062,
 1308,
 2717,
 4018,
 98,
 177,
 2469,
 2101,
 1779,
 4957,
 2386,
 8393,
 4862,
 1981,
 7014,
 1166,
 8241,
 5304,
 2996,
 3027,
 4286,
 7214,
 3952,
 1261,
 5679,
 6915,
 6717,
 2469,
 7189,
 6619,
 4764,
 1306,
 1298,
 804,
 319,
 1024,
 2784,
 6955,
 7635,
 1898,
 498,
 646,
 2054,
 1238,
 4400,
 7399,
 1023,
 4276,
 3508,
 2935,
 668,
 358,
 4593,
 5412,
 7920,
 1717,
 3483,
 5836,
 7423,
 3951,
 4114,
 7808,
 3504,
 6776,
 6782,
 6085,
 7312,
 5738,
 1074,
 2872,
 6453,
 5968,
 1384,
 7805,
 8197,
 470,
 3476,
 7806,
 3395,
 7384,
 1202,
 1455,
 4747,
 1640,
 5598,
 3443,
 87,
 104,
 8030,
 4699,
 3049,
 4683,
 930,
 4141,
 3317,
 4220,
 3309,
 8010,
 7836,
 278,
 4808,
 5210,
 7796,
 4092,
 4716,
 3580,
 4274,
 4290,
 1752,
 1793,
 4427,
 5466,
 6472,
 2645,
 4733,
 7485,
 4560,
 4249,
 7633,
 6884,
 5756,
 4012,
 2222,
 5566,
 5280,
 4317,
 2719,
 457,
 6486,
 264,
 6505,
 8508,
 392,
 2652,
 4461,
 5312,
 5239,
 663,
 2421,
 3497,
 1926,
 5807,
 7530,
 5645,
 1758,
 6519,
 3963,
 5343,
 1308,
 3423,
 589,
 2385,
 1627,
 4002,
 4605,
 8411,
 8130,
 751,
 4133,
 5839,
 7256,
 873,
 2603,
 3775,
 4561,
 6729,
 7478,
 3111,
 3748,
 5441,
 3532,
 5707,
 1822,
 2975,
 494,
 2100,
 1607,
 6319,
 3426,
 7853,
 1874,
 993,
 5405,
 8487,
 4166,
 7099,
 149,
 4154,
 2987,
 1892,
 7540,
 5007,
 1795,
 3808,
 2211,
 4848,
 6349,
 6220,
 615,
 3014,
 1960,
 1086,
 522,
 4094,
 2895,
 4774,
 5570,
 2548,
 5079,
 5678,
 4534,
 3507,
 1556,
 7887,
 4993,
 749,
 924,
 6428,
 7869,
 1576,
 3063,
 6100,
 5018,
 2185,
 7298,
 3276,
 4973,
 3496,
 7051,
 923,
 26,
 5023,
 5106,
 4681,
 50,
 4975,
 4621,
 4042,
 5506,
 238,
 3316,
 2159,
 6031,
 8411,
 7077,
 881,
 8359,
 7386,
 6120,
 6740,
 1095,
 7286,
 4898,
 317,
 8459,
 4892,
 3463,
 1511,
 4673,
 8468,
 4144,
 3579,
 1284,
 760,
 6725,
 5381,
 7798,
 8042,
 5737,
 3299,
 3246,
 6794,
 2137,
 6534,
 1036,
 7846,
 4577,
 7263,
 1718,
 508,
 2660,
 7064,
 2535,
 5579,
 7981,
 4472,
 5938,
 3441,
 6132,
 6746,
 6697,
 7540,
 7561,
 1761,
 6338,
 1284,
 6589,
 3401,
 125,
 3527,
 3583,
 314,
 5274,
 1861,
 5952,
 5732,
 3589,
 1853,
 7892,
 4974,
 902,
 3851,
 688,
 4286,
 245,
 4577,
 2247,
 7245,
 1527,
 5663,
 5182,
 2276,
 5653,
 4184,
 375,
 8489,
 7577,
 200,
 1822,
 8201,
 5557,
 2609,
 905,
 1889,
 2439,
 97,
 752,
 4227,
 5582,
 764,
 5025,
 7935,
 3149,
 7795,
 6575,
 3323,
 3751,
 6594,
 5517,
 3725,
 2977,
 1873,
 822,
 5576,
 4433,
 7334,
 1570,
 6151,
 2603,
 2633,
 738,
 6063,
 4592,
 4095,
 3302,
 7446,
 5040,
 109,
 7225,
 8060,
 5371,
 6917,
 5588,
 8313,
 6385,
 410,
 3131,
 7061,
 3703,
 3020,
 6942,
 4942,
 1147,
 2628,
 6700,
 911,
 4900,
 4487,
 3722,
 2128,
 3042,
 2214,
 1716,
 239,
 5898,
 6806,
 4586,
 8520,
 7041,
 2853,
 910,
 2373,
 3177,
 3214,
 4069,
 8185,
 6933,
 8519,
 7316,
 4010,
 7586,
 4481,
 4822,
 4861,
 2471,
 2405,
 2314,
 6513,
 4833,
 1368,
 3519,
 3012,
 2945,
 805,
 3444,
 57,
 670,
 1350,
 4675,
 7169,
 3742,
 726,
 6321,
 1783,
 1884,
 8177,
 4192,
 1885,
 4036,
 7261,
 318,
 6983,
 5418,
 282,
 3935,
 5038,
 5264,
 672,
 4672,
 8202,
 6777,
 2884,
 7383,
 750,
 5183,
 5839,
 3366,
 5976,
 8165,
 109,
 5036,
 2137,
 2154,
 6523,
 5419,
 3442,
 505,
 6763,
 4527,
 7734,
 2653,
 6463,
 4994,
 936,
 968,
 1360,
 3559,
 1944,
 6745,
 5922,
 8414,
 4704,
 5687,
 3659,
 5632,
 296,
 8177,
 7270,
 1560,
 556,
 7160,
 6166,
 7674,
 7555,
 5229,
 3915,
 4072,
 5367,
 6326,
 1445,
 3861,
 3496,
 5712,
 3683,
 5623,
 5864,
 1373,
 3361,
 7513,
 6573,
 1841,
 668,
 7305,
 5486,
 3305,
 8256,
 2807,
 725,
 6327,
 2101,
 212,
 1228,
 4865,
 3237,
 2055,
 5625,
 2396,
 1120,
 273,
 2158,
 469,
 306,
 3422,
 5404,
 4393,
 1106,
 1229,
 1810,
 5316,
 4739,
 644,
 7397,
 58,
 8300,
 2396,
 1060,
 4184,
 304,
 281,
 5183,
 402,
 7446,
 4034,
 8149,
 6275,
 901,
 3809,
 5805,
 7908,
 7686,
 1454,
 14,
 4999,
 4880,
 1982,
 7015,
 2811,
 1725,
 3681,
 3576,
 3107,
 7739,
 299,
 1620,
 2208,
 6431,
 3908,
 2955,
 2307,
 2738,
 934,
 5395,
 2242,
 7858,
 1939,
 8077,
 5497,
 527,
 974,
 1384,
 6612,
 6850,
 5003,
 4848,
 7419,
 3795,
 1970,
 5128,
 639,
 5793,
 3283,
 7231,
 7829,
 5596,
 130,
 6096,
 1303,
 1043,
 7846,
 691,
 5656,
 6205,
 7758,
 1951,
 7208,
 7194,
 7817,
 6743,
 7132,
 4387,
 6353,
 20,
 2684,
 7617,
 4747,
 2978,
 252,
 764,
 416,
 3572,
 1357,
 2022,
 2502,
 3338,
 7994,
 6106,
 1383,
 4751,
 3232,
 1674,
 602,
 4233,
 8300,
 5393,
 1965,
 61,
 1941,
 6059,
 471,
 8198,
 4449,
 7570,
 6984,
 8319,
 308,
 4496,
 7105,
 2207,
 7976,
 3309,
 1870,
 2943,
 5392,
 3231,
 6164,
 8036,
 7966,
 705,
 985,
 3294,
 1690,
 3786,
 1953,
 3346,
 8073,
 3928,
 3863,
 3842,
 5652,
 1847,
 6244,
 4229,
 4030,
 5201,
 5463,
 6913,
 5267,
 6308,
 8238,
 5486,
 2959,
 536,
 3942,
 371,
 7100,
 7493,
 6315,
 7301,
 1803,
 6930,
 677,
 5397,
 5874,
 596,
 2869,
 5695,
 526,
 5282,
 7658,
 1772,
 3650,
 2504,
 6291,
 7658,
 5987,
 6288,
 2251,
 7931,
 ...]

In [14]:
# set the index
data.index = random_list

In [16]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
5950,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
2492,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
3408,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
1867,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
1206,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

***Set another column of the dataframe as the index. We will use the set_index function. You can read more about here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html'***

---

In [20]:
# 1. change the index of the dataframe
# 2. drop=True is used to drop the column that's set as index
# 3. inplace=True is used to make changes in the original dataframe
# data = pd.read_csv('datasets/big_mart_sales.csv')

# data.set_index('Outlet_Establishment_Year', drop=True, inplace=True)
data.set_index('Outlet_Establishment_Year', drop=True, inplace=True)

KeyError: "None of ['Outlet_Establishment_Year'] are in the columns"

In [21]:
# example of a label based index
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Establishment_Year,,,,,,,,,,,
1999,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
2009,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
1999,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
1998,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
1987,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [29]:
data.index

Index(['FDA15', 'DRC01', 'FDN15', 'FDX07', 'NCD19', 'FDP36', 'FDO10', 'FDP10',
       'FDH17', 'FDU28',
       ...
       'FDH31', 'FDA01', 'FDH24', 'NCJ19', 'FDF53', 'FDF22', 'FDS36', 'NCJ29',
       'FDN46', 'DRG01'],
      dtype='object', name='Item_Identifier', length=8523)

---

### `WILL THE INDEX BE ALWAYS NUMERIC?`

---


***No, We can also have categorical variables as the index of a dataframe.*** 

---

In [30]:
# reset the index
data.set_index('Item_Identifier', drop= True, inplace=True)

KeyError: "None of ['Item_Identifier'] are in the columns"

In [31]:
# view the top rows of the data
data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,
FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [32]:
# index of the data
data.index

Index(['FDA15', 'DRC01', 'FDN15', 'FDX07', 'NCD19', 'FDP36', 'FDO10', 'FDP10',
       'FDH17', 'FDU28',
       ...
       'FDH31', 'FDA01', 'FDH24', 'NCJ19', 'FDF53', 'FDF22', 'FDS36', 'NCJ29',
       'FDN46', 'DRG01'],
      dtype='object', name='Item_Identifier', length=8523)

---

#### `HOW TO SUBSET THE DATA BASED ON THE LABEL OF THE INDEX?`

- We can subset the data based on the label of the index using the loc function.
---

In [33]:
data.loc['FDA15']

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,
FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
FDA15,9.3,Low Fat,0.016055,Dairy,250.2092,OUT045,NaN,Tier 2,Supermarket Type1,5976.2208
FDA15,9.3,Low Fat,0.016019,Dairy,248.5092,OUT035,Small,Tier 2,Supermarket Type1,6474.2392
FDA15,9.3,Low Fat,0.016088,Dairy,249.6092,OUT018,Medium,Tier 3,Supermarket Type2,5976.2208
FDA15,9.3,Low Fat,0.026818,Dairy,248.9092,OUT010,NaN,Tier 3,Grocery Store,498.0184
FDA15,9.3,Low Fat,0.016009,Dairy,250.6092,OUT013,High,Tier 3,Supermarket Type1,6474.2392
FDA15,NaN,Low Fat,0.015945,Dairy,249.5092,OUT027,Medium,Tier 3,Supermarket Type3,6474.2392
FDA15,9.3,LF,0.016113,Dairy,248.8092,OUT017,NaN,Tier 2,Supermarket Type1,5976.2208

***What if we want to change the index back to positional?***

---

#### `CAN WE RESET THE INDEX?`

***Yes, we can reset the index. Let's see how? We will use the reset_index function. You can read more about here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html***

---

In [34]:
# reset the index
data.reset_index(inplace=True)

In [35]:
# view the top rows of the data
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

#### `HOW TO SUBSET THE DATA BASED ON A VALUE OF A COLUMN?`

---

In [36]:
data[data['Item_Type'] == 'Dairy']

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,Small,Tier 1,Supermarket Type1,2187.1530
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,Small,Tier 2,Supermarket Type1,2748.4224
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,NaN,Tier 3,Grocery Store,178.4344
30,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,NaN,Tier 3,Grocery Store,163.7868
...,...,...,...,...,...,...,...,...,...,...,...
8424,FDC39,7.405,Low Fat,0.159165,Dairy,207.1296,OUT035,Small,Tier 2,Supermarket Type1,3739.1328
8447,FDS26,20.350,Low Fat,0.089975,Dairy,261.6594,OUT017,NaN,Tier 2,Supermarket Type1,7588.1226
8448,FDV50,14.300,Low Fat,0.123071,Dairy,121.1730,OUT018,Medium,Tier 3,Supermarket Type2,2093.9410
8457,FDY50,5.800,Low Fat,0.130931,Dairy,89.9172,OUT035,Small,Tier 2,Supermarket Type1,1516.6924
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,High,Tier 3,Supermarket Type1,2479.4392

----

#### `WE WILL SEE HOW TO SUBSET THE DATA BASED ON POSITION, LABEL AND VALUES IN DETAIL`

---